/* all pages */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    background-color: #0C526D;
    height: 100vh;
    width: 100vw;
}

/* index page */

#rain {
    position: absolute;
    left: 0px;
    top: 0px;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .raindrop:nth-child(3) {
        display: none;
    }
}

.indexh1 {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 0%;
}

.indexh2 {
    font-family: Lato, sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
}

.indexbody {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: block;
    height: 90vh;
    width: 90vw;
    margin: 50px;
    margin-bottom: 100px;
}

.indexrow1 {
    grid-row-start: 0;
    grid-row-end: 1;
    display: grid;
    height: 25vh;
}

.indexrow2 {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    height: 40vh;
    justify-items: center;
    align-items: center;
}

.indexrow3 {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    height: 25vh;
    justify-items: end;
    align-items: end;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 25px;
    line-height: 100px;
    position: inherit;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* table of contents page */

.tocbody {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: block;
    height: 90vh;
    width: 90vw;
    margin: 50px;
    margin-bottom: 100px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.maparea {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    height: 85vh;
    width: 50vw;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.map-dot{
	position: absolute;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
    right: 200%;
}

.buttonarea {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    height: 65vh;
    width: 35vw;
}

.tocrow1 {
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    display: grid;
    height: 65vh;
    width: 90vw;
    justify-content: space-between;
}

.tocrow2 {
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 25vh;
    display: grid;
    justify-items: end;
    align-items: end;
}

.tocmap {
    object-fit: cover;
    height: 85vh;
    width: 50vw;
}

.toch1 {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: white;
    text-align: left;
    line-height: 0%;
}

.toch2 {
    font-family: Lato, sans-serif;
    font-weight: 200;
    color: white;
    text-align: left;
}

hr {
    width: 35vw;
}

button {
    all: unset;
    width: 15vw;
    font-family: Lato, sans-serif;
    font-weight: 200;
    font-size: 15pt;
    line-height: 20pt;
    color: white;
    background-color: #022b37;
    text-align: center;
}

.buttondiv {
    height: 50vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/* borough pages */

.collection {
    display: flex;
}

.data-details{
    font-family: Lato, sans-serif;
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 30vw;
    padding: 5px;
    text-align: center;
}

.title{
    font-family: Lato, sans-serif;
    color: white;
    font-size: 30pt;
    display: flex;
    margin-left: 20px;
    line-height: 18pt;
}

.flowers{
    display: flex;
    justify-content: space-around;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.brookbody{
    background-image: url(assets/map.png);
}